body
{
    font: 1em "Trebuchet MS",sans-serif;
    background: black url(https://login.eveonline.com/Images/site-bg.jpg) top right no-repeat;
    background-attachment: fixed;
    color: #33DFFF;
    font-size: 12px;
}

td
{
    padding-right:2em;
}

ul
{
    list-style-type: none;
}

#wrapper
{
    margin:2em;
    padding-top:1em;
    padding-right:2em;
    padding-left:2em;
    padding-bottom:1em;
    display:inline-block;
}

.content
{
    border: 1px solid #666666;
    background: black;
}

.bottom-menu
{
    float:right;
    padding:0.5em;
}

.name 
{
    padding-right:0.5em;
}

ol,
span.name,
a.name,
a.link
{
    color: #33DFFF;
}

span.value
{
    color:white;
}